<!doctype html>
<html>
<head>
  <title>Ratings</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
</head>

<body>
  Ratings
  <hr>

  {% block content %} put your content here {% endblock %}

<p>
  <a href="/login">Login</a><br>
  <a href="/register">Register</a><br>
  <a href="/"> Homepage </a>
</p>
<p>
    <form action='/logout'>
    <input type='submit' value='logout'>
</form>
</p>

</body>
</html>